 {{#each articles}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{{url}}" class="article-link">{{ title }}</a>
        </h3>
    </div>
    <div class="panel-body">
        <p>{{ summary }}</p>


    </div>
    <div class="comment-section">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-id="{{_id}}">Add Comment</button>

        <form id="form-add-{{_id}}" action="add/comment/{{_id}}" method="post">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalLabel">New Comment</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Name:</label>
                                    <input type="text" class="form-control" id="user">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Comment:</label>
                                    <textarea class="form-control" id="comment"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a href="/articles">
                                <button type="submit" class="btn btn-primary comment-submit" data-id="{{_id}}" value="submit">Send message                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="comments">
        {{#each comments}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="comment-author">{{user}}
                </h3>
            </div>
            <div class="panel-body">
                <p>{{comment}}</p>
                <button type="button" class="btn btn-danger comment-delete" data-id="{{_id}}" value="delete">Delete Comment</button>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- end main panel -->
</div>
{{/each}}

<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget)
        let recipient = button.data('id')
        let modal = $(this)
        
        modal.find('.modal-body input').val(recipient)
        modal.find('.modal-body textarea').val(recipient)

        
    })
</script>